.content {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10em;
    


}


.contentlayout {
    gap:5em;
    margin-top: 3em;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start; 
   
   max-width: 80%;

}

.cards {

    display: grid;
    max-width: 80%;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;

}

@media (max-width: 1284px) {

    .cards {

        display: grid;
        max-width: 80%;
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
    
    }
 
}


@media (max-width: 1284px) {

    .cards {

        display: grid;
        max-width: 90%;
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
    
    }
    
    .contentlayout {
        gap:5em;
        margin-top: 3em;
       display: flex;
       flex-direction: column;
       align-items: start;
       justify-content: start; 
       
       max-width: 90%;
    
    }
}



@media (max-width: 716px) {

    
    .cards {

        display: grid;
        max-width: 90%;
        grid-template-columns: repeat(1,1fr);
        gap: 2em;
    
    }
    



}